<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <extensions>
    <add assembly="NLog.LiteDB"/>
  </extensions>
  <targets>
    <target name="liteDB" xsi:type="liteDBTarget"
            connectionString="filename=Log.lite"
            collectionName="DefaultLog">
      <property name="ThreadID" layout="${threadid}" bsonType="Int32" />
      <property name="ThreadName" layout="${threadname}" />
      <property name="ProcessID" layout="${processid}" bsonType="Int32"  />
      <property name="ProcessName" layout="${processname:fullName=true}" />
      <property name="UserName" layout="${windows-identity}" />
    </target>
    <target xsi:type="Console"
            name="con"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}"  />
    <target xsi:type="MessageBox" name="ShowErrors" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" caption="Some Error is happend view log for more infos"  />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="liteDB" />
    <logger name="*" minlevel="Error" writeTo="ShowErrors"/>
      <logger name="*" minlevel="Trace" writeTo="con"/>
  </rules>
</nlog>